@import url(https://fonts.googleapis.com/css?family=Special+Elite);
body {
	background-color: lightblue}
td {
    font-style: italic}
ul>li{
    color: darkgoldenrod; font-style: italic; text-align: left}
h2, h3 {
    font-family: "Special Elite", cursive;}
    
    