
header
    {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 120%
    }
footer 
    {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 120%
    }
h2
   {font-family: garamond; font-style: italic; color:firebrick; text-align: center; width: 100%; font-size: 150%
    }
body 
    {background-color: #FFFFC2; font-family: garamond, cursive
    }

.hr {
    border: 0;
    height: 1px;
    }
